@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgb(171, 171, 171);
    position: relative;
}

img {
    width: 1.2rem;
    height: 1.2rem;
}

.header-middle-item,
.resume-button {
    border: 2px solid rgb(176, 27, 27);
    padding: 0.3rem;
    border-radius: 3rem;
    position: relative;

}


.header-middle-item h3 {
    margin-left: 2rem;
}




.header-dot-blink {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(0, 255, 30);
    animation: blink 1.2s infinite;
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
        /* Dot visible rahe */
    }

    50% {
        opacity: 0;
        background-color: black;
        /* Dot invisible ho jaye */
    }
}

.resume-button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.resume-button:hover {


    &&.resume-button::before {
        content: "DOWNLOAD";
    }
}



.main-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: calc(100vh - 6rem);
    padding: 1rem 6rem;
}


.main-section-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.main-section-picture {
    height: 400px;
    width: 450px;
    /* background-color: gray; */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Flag_of_Palestine.svg/800px-Flag_of_Palestine.svg.png");
    /* background-size: 200px; */
    background-size: cover;
    background-repeat: round;

    border-radius: 50%;

}

.main-section-picture:hover {
    background-image: url("https://ih1.redbubble.net/image.2384203009.0000/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg");
}

.main-picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.paragraph {
    font-size: 2rem;
}


.main-section-frontend {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 100%;

}



.main-heading {

    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
}


.a-tags {
    display: flex;
    gap: 2rem;


}

a>img {
    height: 3rem;
    width: 3rem;
}



.main-section-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    position: relative;
}



.main-section-bottom-line {
    position: absolute;
    width: 6px;
    height: 100px;
    background: linear-gradient(to bottom, violet, indigo, #001399, seagreen, #edd94c, orange, red);
    left: 27%;
    border-radius: 4px;
}


.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    gap: 4rem;


    img {
        height: 3rem;
        width: 3rem;
        animation: circle 3s linear infinite;
    }

    
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.first-logo:hover {
    height: 3rem;
    width: 3rem;
    animation: hover 3s linear infinite;
}


@keyframes hover {
    0% {
        transform: rotate(0deg);
        /* background-color: red; */
    }

    100% {
        transform: rotate(0deg);
        /* background-color: red; */
    }
}